.pdfjs-container {
    width: 100%;
}

.pdf-page {
    position: relative;
    display: block;
    background-color: #ffffff;
    margin: 12px auto;
    overflow: hidden;
}

.pdf-canvas {
    display: block;
    image-rendering: -webkit-optimize-contrast;
}

.annotationLayer {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

.annotationLayer section,
.annotationLayer a {
    position: absolute;
    pointer-events: auto;
}

.annotationLayer .linkAnnotation {
    position: absolute;
    pointer-events: auto;
}

.annotationLayer .linkAnnotation > a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.annotationLayer a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.textLayer {
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0;
    line-height: 1.0;
    overflow: hidden;
    pointer-events: none;
}

.textLayer > span {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    pointer-events: auto;
}

.textLayer ::selection {
    background: rgba(0, 0, 255, 0.2);
}

.textLayer .highlight {
    margin: -1px;
    padding: 1px;
    background-color: rgba(180, 0, 170, 0.2);
    border-radius: 4px;
}

.textLayer .highlight.appended {
    position: initial;
}

.textLayer .highlight.begin {
    border-radius: 4px 0 0 4px;
}

.textLayer .highlight.end {
    border-radius: 0 4px 4px 0;
}

.textLayer .highlight.middle {
    border-radius: 0;
}
